<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobMap - perfil</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    
    <!-- NAVEGACAO (APENAS DEMO)-->
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">MobMap</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
            <ul class="navbar-nav">
                
            </ul>
        </div>
    </nav>
    </header>



    <main class="container-fluid" style="margin-top: 150px;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="text-center" style="width: 300px; margin: auto">

                    <img class="card-img-top" src="images/profile.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Karla Jhennifer
                            <a class="nav-link" href="#"> karla@email.com</a>
                        </h5>

                        <nav class="nav flex-column">
                            <a class="nav-link active" href="#">Atualizar perfil</a>
                            <a class="nav-link" href="#">Alterar senha</a>
                            <a class="nav-link disabled" href="#">Excluir Conta</a>
                        </nav>

                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <h1> PERFIL </h1>
                <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, dolore vel ullam impedit enim
                    provident ut voluptatum atque aspernatur voluptates temporibus dolor ducimus quas architecto. Est
                    cumque vel impedit delectus.
                </p>
            </div>

        </div>

    </main>




    <!-- RODAPE -->
    <!-- <footer class="container">
        <p>MobMap</p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">© Empresa 2017-2019</font>
            </font>
        </p>
    </footer> -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>